body {
  bottom: 0;
  font-family: 'Titillium Web', sans-serif;
  color: black;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: 0px 0px;
  overflow: hidden;
  font-size: 1.5vmin;
  word-wrap: break-word;
}

.container {
  position: relative;
  height: 100%;
  width: 80%;
}

.input_video {
  position:relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 720px;
  width: 1280px;
}
.selfie {
  transform: scale(-1, 1);
}

.output_canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.control-panel {
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  display: inline-block;
  border-left: 1px solid gray; 
  border-top: 1px solid gray;
}

.aspectwrapper {
  display: inline-block;
  position: relative;
  height: 100%;
  text-align: center;
}

.loading {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  backface-visibility: hidden;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s;
}

.loaded .loading {
  opacity: 0;
}

.mdc-button {
  font-size: var(--mdc-typography-button-font-size, 2vmin);
}

.mdc-button--raised {
  height: 5vmin;
}


.mdc-button--outlined {
  border-width: 2.5px;
}

.current_result {
  font-size: 3vmin;
  font-weight: normal;
  margin-top: 10%;
  margin-bottom: 5%;
}

#currentResultOutput {
  font-size: 5vmin;
  color:black; 
  height: 6vmin; 
  margin-top: 0;
  margin-bottom: 10%;
}

#outputLabel {
  background-color: white; 
  width: 120%; 
  text-align: center;
}

.framesNumberInputLabel {
  height: 50%; 
  padding: 0; 
  width: 100%; 
  margin-top: 40%;
}

.switchLabel {
  font-size: medium; 
  float: left; 
  padding-left: 5%;
}

.switchDiv {
  height: 3%;
  margin-top: 5%;
}

.innerSwitchDiv {
  float: right; 
  padding-right: 5%;
}

#textOutput {
  line-height: 110%; 
  height: 5.1vmin;
}

#switchShapeCategoryButton::first-letter {
  text-transform: capitalize;
}